@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

:root {
    --cor-primaria: #161E2F;
    --cor-secundaria: #242F49;
    --cor-destaque: #FFA586;
    --cor-texto: #E0E0E0;
    --cor-fundo: #384358;
    --cor-borda: #541A2E;
    --cor-acao: #B51A2B;
    --cor-google-button: #FFFFFF;
    --cor-button-text: #242F49;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.login-form {
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 50px;
}

header h1 {
    font-size: 2em;
    color: var(--cor-destaque);
}

header p {
    font-size: 1em;
    color: var(--cor-texto);
}

.login-google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--cor-google-button);
    color: var(--cor-button-text);
    border: 1px solid var(--cor-secundaria);
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-google:hover {
    background-color: var(--cor-acao);
    color: #FFFFFF;
}

.google-icon {
    width: 40px;
    height: 30px;
    margin-right: 10px;
}

input[type="email"], input[type="password"], input[type="text"], input[name="nome"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 50px;
    border: 1px solid var(--cor-borda);
    background-color: #333;
    color: var(--cor-texto);
    font-size: 1em;
    box-sizing: border-box;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[name="nome"]:focus {
    outline: none;
    border-color: var(--cor-acao);
    background-color: #444;
}

button {
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    opacity: 0.9;
}

.primary-button {
    background-color: var(--cor-destaque);
    color: var(--cor-button-text);
    border: 1px solid var(--cor-secundaria);
}

.primary-button:hover {
    background-color: var(--cor-acao);
    color: #FFFFFF;
}

.secondary-button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: 1px solid var(--cor-destaque);
}

.secondary-button:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-destaque);
}

.login-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--cor-destaque);
    color: var(--cor-button-text);
    border: 1px solid var(--cor-secundaria);
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
}

.login-button:hover {
    background-color: var(--cor-acao);
    color: #FFFFFF;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
    margin: 10px 0;
}

.remember-me input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid var(--cor-destaque);
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.remember-me input[type="checkbox"]:checked {
    background-color: var(--cor-destaque);
    border-color: var(--cor-acao);
    position: relative;
}

.remember-me input[type="checkbox"]:checked::after {
    content: '✓';
    font-size: 12px;
    color: var(--cor-texto);
    position: absolute;
    left: 4px;
}

.remember-me label {
    margin-right: auto;
}

.forgot-password {
    color: var(--cor-destaque);
    text-decoration: none;
    font-size: 0.9em;
    margin-left: 20px;
}

.forgot-password:hover {
    color: var(--cor-acao);
    text-shadow: 0px 0px 10px var(--cor-acao);
}

footer p {
    color: var(--cor-texto);
}

footer a.sign-up {
    color: var(--cor-destaque);
    text-decoration: none;
}

footer a.sign-up:hover {
    color: var(--cor-acao);
    text-shadow: 0px 0px 10px var(--cor-acao);
}

.error-message {
    color: var(--cor-acao);
    font-size: 0.9em;
    margin-top: 5px;
}

.background-illustration {
    width: 50%;
    background-image: url('/images/background_city_night_degrade.jpg');
    background-size: cover;
    border-radius: 50px;
}

a.login-link {
    color: var(--cor-destaque);
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a.login-link:hover {
    color: var(--cor-acao);
    text-shadow: 0px 0px 10px var(--cor-acao);
}

/* Estilos para o formulário de recuperação de senha */
.reset-password-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--cor-secundaria); /* Cor de fundo similar ao site */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--cor-texto); /* Cor do texto similar ao site */
}

.reset-password-form header h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--cor-destaque); /* Cor de destaque */
}

.reset-password-form header p {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.reset-password-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid var(--cor-borda); /* Cor da borda similar ao site */
    border-radius: 50px; /* Bordas arredondadas */
    background-color: #333;
    color: var(--cor-texto);
    font-size: 1em;
    box-sizing: border-box;
}

.reset-password-form input:focus {
    outline: none;
    border-color: var(--cor-acao); /* Cor de foco */
    background-color: #444;
}

.reset-password-form .reset-button {
    width: 100%;
    padding: 12px;
    background-color: var(--cor-destaque); /* Cor de fundo do botão */
    color: #fff;
    border: none;
    border-radius: 50px; /* Bordas arredondadas */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-password-form .reset-button:hover {
    background-color: var(--cor-acao); /* Cor do botão ao passar o mouse */
}

.reset-password-form .error-message {
    color: var(--cor-acao); /* Cor para mensagens de erro */
    font-size: 12px;
    margin-top: 5px;
}

.reset-password-form .success-message {
    color: var(--cor-destaque); /* Cor para mensagens de sucesso */
    font-size: 14px;
    margin-top: 5px;
}

/* Botões de seleção de método */
.method-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.method-button.active {
    background-color: #007bff;
    color: white;
}

.recovery-form {
    display: none;
    margin-top: 20px;
}

.recovery-form.active {
    display: block;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Estilo básico do menu lateral */
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #333;
    color: white;
    transition: transform 0.3s ease;
}

/* Menu escondido */
.sidebar.active {
    transform: translateX(-100%);
}

/* Estilo para o botão de alternância */
.toggle-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Estilos do conteúdo principal */
.main-content {
    margin-left: 260px;
    padding: 20px;
}